.borderClass{
  border-color: #00008B;
  border-width:1px;
  border-style: solid;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto -60px;
}
.footer, .appendix {
    height: 60px;
}

a,img{
float:right;
margin-left:10px;
margin-right:20px;}

table {margin-top:20px;margin-left:20px;}

h1 {
margin:2% 15%; -2% 20%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  color: #444;
	overflow: hidden;
	white-space: nowrap;
}


h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  color: #444;
  overflow: hidden;
  white-space: nowrap;
}

hr{margin-top:50px;}


